html {
  width: 1440px;
  background: linear-gradient(20deg,#bde0ff, #dee5e1);
  scroll-behavior: smooth;
}

#sidebar {
  position: fixed;
  border: 1px solid black;
  background-color: aqua;
  width: 100%;
  z-index: 100000;
}

#sidebar li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  margin-right: 70px;
}

a {
  text-decoration: none;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 40px;
}
a:hover {
    background-color: blue;
    transition-delay: 50ms;
}

#num {
  text-decoration: none;
  color: black;
  padding: 7px;
  border: 1px solid black;
  border-radius: 40px;
  background-color: blue;
}

.gridlayer {
  display: grid;
  position: absolute;
  width: 1440px;
  top: 80px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(500px, auto);
}

.leftarea {
  display: grid;
  grid-column: 1;
  text-align: center;
  align-self: center;
}


.img {
  display: grid;
  grid-column: 3 / 5;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: url("image/oracle.jpg");
}

#qui {
    /* background-color: #dee5e1; */
}

#ou {
    background-color: #bde0ff;
    
}

#chif {
    background-color: #dee5e1;
}

#conf {
    background-color: #bde0ff;
}

#tarif {
    background-color: #dee5e1;
}

#contact{
    background-color: #bde0ff;
}